.Page{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-cards-bg{
    margin: 0%;
    padding-left: 70px;
    height: 100vh;
    width: 100vw;
    align-content: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #f1f1f1;
    flex-wrap: wrap;  
}

.title{
    width: 100%;
    font-size: 240%;
    padding: 1%;
}

.card{
    padding: 1%;
}